<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Book - Home</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
        <script src="../static/js/my_home.js"></script>
    </head>
    <body> 
    
    
        <!-- Header -->
        <header>
            <div id="main_header">
                <div id="logo_block">
                    <img id="logo" src="../static/images/logo.png" alt="My Book logo" onclick="xyz()" />
                </div>

                <div id="right_block">
                    <center><h1>My Book</h1></center>
                </div>
            </div>
        </header>
        
        
        
        <!-- Main Body of My Book -->
        <div id="main_container">
            <div id="left_container_block">
                <div id="profile_block">
                   <img id="profile_pic" src="../static/images/user_profile_pic/akm.jpg">
                </div>
                <div>
                    <span>Avinash Kr Mallik</span><br />
                    <span>mallikdav@gmail.com</span>
                </div>
            </div>
            
            <div id="right_container_block">
                    <div id="post_message">
                        <form>
                            <textarea placeholder="Post your messgae here..."></textarea>
                            <input type="submit" value="Submit" />
                        </form>
                    </div>
                    <div id="my_youtube_vid">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/5xg65jvHj8A" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div id="about_me">
                        <label>Name: </label> <span>Avinash Kr Mallik</span>
                        <label>Gender: </label> <span>Male</span>
                        <label>Address: </label> <span>Kharadi, Pune</span>
                        <label>Nationality: </label> <span>Indian</span>
                    </div>
            </div>
        </div>
        
        
        
        <!-- Footer -->
        <footer>
            <div id="main_footer">
                <div>
                    <center>copy right @ 2016</center>
                </div>
            </div>
        </footer>
    </body>
</html>